<div id="cameraRequirementChecker">
    <div class="row">
        <div class="col-md-12" style="margin-bottom:10px">
            <form id="cameraRequirementCheckerForm">
                <div class="form-group">
                    <label>Simulated CPU</label>
                    <select id="simualtedCpuSelector" class="form-control form-control-lg" name="simualtedCpu">
                    </select>
                </div>
                <div class="form-group">
                    <label>Monitor Configuration</label>
                    <select id="encodingModifier" class="form-control form-control-lg" name="encodingModifier">
                        <option value="">No Encoding Stream 15 FPS, Recording 15 FPS, 1280x720</option>
                        <!-- <option value="">Encoding Stream 15 FPS, 1280x720</option>
                        <option value="">Encoding Stream 15 FPS, Recording 15 FPS, 1280x720</option> -->
                    </select>
                </div>
                <div class="form-group">
                    <label>Number of Cameras</label>
                    <input class="form-control form-control-lg" name="cameraCount" placeholder="1">
                </div>
                <!-- <div class="form-group">
                    <label>Resolution</label>
                    <input class="form-control form-control-lg" name="resolution" placeholder="1920x1080">
                </div>
                <div class="form-group">
                    <label>Stream FPS</label>
                    <input class="form-control form-control-lg" name="fps" placeholder="15">
                </div> -->
                <div class="form-group">
                    <label>Stream Bitrate</label>
                    <input class="form-control form-control-lg" name="bitrate" placeholder="2000">
                </div>
            </form>
        </div>
        <div class="col-md-12" id="cameraRequirementCheckerResults">
            <div class="col-md-6">
                <div id="canvas-general-usage">
                    <canvas></canvas>
                </div>
                <div id="canvas-disk-usage">
                    <canvas></canvas>
                </div>
            </div>
            <pre class="col-md-6" id="verbose-logs" style="max-height:500px;overflow:auto"></pre>
        </div>
    </div>
</div>
<script src="/libs/js/cameraRequirementChecker.js"></script>
