<style>
    #article-container button {
        outline:0
    }
    #article-container .article-page-number:not(:first-child) {
        margin-top: 60px;
    }
    #article-search {
        margin-bottom: 2rem;
        border-radius: 15px;
    }
</style>
<div id="article-container" class="news-container">
    <div class="main-header-text-container">
        <h1 class="main-header-text">
            Articles
            <span>at ShinobiHub</span>
        </h1>
    </div>
    <input placeholder="Type Here to Search Articles" class="form-control" type="text" id="article-search">
    <div class="mb-4" id="article-list"></div>
    <button type="button" class="btn btn-block btn-success mb-2" id="article-load-more">Load More</button>
    <a class="btn btn-block btn-info" href="https://hub.shinobi.video/articles">View Articles at ShinobiHub</a>
</div>
<script>
$(document).ready(function(){
    var articlesLoaded = 0
    var articleList = $('#article-list')
    var searchBox = $('#article-search')
    var loadMoreButton = $('#article-load-more')
    var noMore = false
    var currentlyLoading = false
    var loadRows = function(){
        if(currentlyLoading || noMore)return
        currentlyLoading = true
        var currentScroll =  $(window).scrollTop()
        $.get(`https://hub.shinobi.video/articles/search?skipOver=${articlesLoaded}&rowLimit=30&sortBy=dateUpdated&sortDirection=DESC&text=${searchBox.val()}`,function(d){
            currentlyLoading = false
            var tmp = ''
            console.log(d)
            $.each(d.articles,function(n,v){
                tmp += drawNewsRow({
                    id: v.id,
                    title: v.heading,
                    subtext: v.opening,
                    date: v.dateUpdated,
                    icon: 'newspaper-o',
                })
            })
            articlesLoaded += d.articles.length
            if(articlesLoaded === 0){
                articleList.append(`<div class="text-center article-page-number"><small>No Articles Found</small></div>`)
            }else if(d.articles.length === 0){
                noMore = true
            }else{
                articleList.append(`<div class="text-center article-page-number" id="article-page-number-${d.currentPage}"><small class="news-page-header btn btn-primary btn-sm">- Page ${d.currentPage} -</small></div>`)
            }
            if(d.articles.length === 0){
                noMore = true
                loadMoreButton.prop('disabled',true).hide()
            }else{
                articleList.append(tmp)
                $(window).scrollTop(currentScroll)
                if(d.pages === d.currentPage){
                    noMore = true
                    loadMoreButton.prop('disabled',true).hide()
                }
            }
        })
    }
    searchBox.change(function(e){
        articleList.empty()
        articlesLoaded = 0
        loadRows()
    })
    loadMoreButton.click(function(e){
        loadRows()
    })
    loadRows()
    var theWindow = $(window)
    var windoWidth = theWindow.width()
    var checkForLoaderButton = function(){
        var theScrollTop = theWindow.scrollTop()
        var theOffset = loadMoreButton.offset()
        var top_of_element = theOffset.top;
        var bottom_of_element = theOffset.top + loadMoreButton.outerHeight();
        var bottom_of_screen = theScrollTop + theWindow.innerHeight();
        var top_of_screen = theScrollTop;

        if (windoWidth > 1024 && (bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)) {
            loadRows()
        }
    }
    setTimeout(function(){
        checkForLoaderButton()
        $(window).scroll(checkForLoaderButton)
    },5000)
})
</script>
