<section class="bg-primary" id="whoUsesShinobi">
    <div class="container text-center">
        <h1 style="margin:0">You're not using Shinobi?</h1>
        <h3 style="margin:0">Maybe you'll reconsider after you see who is</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-primary">Enterprises</h2>
                <img style="height:150px" src="/libs/assets/laptop-rocket.png">
                <p class="text-faded">
                    For small teams and personal use in a home or small office. This version is updated only for major changes or bug fixes.
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="text-primary">Small Businesses</h2>
                <img style="height:150px" src="/libs/assets/laptop-rocket.png">
                <p class="text-faded">
                    For small teams and personal use in a home or small office. This version is updated only for major changes or bug fixes.
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="text-primary">Communities</h2>
                <img style="height:150px" src="/libs/assets/cloud-server.png">
                <p class="text-faded">
                    For businesses that require using Shinobi in a commercial location and would like developer support and regular updates.
                </p>
            </div>
        </div>
        <div class="btn-group">
            <a href="/pro" class="btn btn-primary btn-xl">What is Pro and Why?</a>
        </div>
    </div>
</section>
