<% config.Title='Pro'; %>
<% include blocks/header.ejs %>
<style>
    .super-table tr td:first-child{text-transform:initial;font-weight: 500;}
    .super-table thead tr td{text-transform: initial;letter-spacing: normal;}
    header{background-image:url(/libs/assets/backgrounds/1.jpg)}
</style>
<% include blocks/subheader.ejs %>
<header id="first">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
            <img style="max-height:350px;border-radius:50%;border: 1px solid #ddd;" src="https://licenses.shinobi.video/libs/img/onthego1.jpg">
            <h1 class="cursive">Join the Beta!</h1>
            <h4>The mobile application is still in development but you can still try it out!</h4>
            <hr>
            <div class="btn-group">
                <a href="https://testflight.apple.com/join/MJ6ZWhf0" class="btn btn-default btn-xl page-scroll"><i class="fa fa-apple"></i></a>
                <a href="https://cdn.shinobi.video/installers/ShinobiMobile/" class="btn btn-default btn-xl page-scroll">Learn More</a>
                <a href="https://cdn.shinobi.video/installers/ShinobiMobile/" class="btn btn-default btn-xl page-scroll"><i class="fa fa-android"></i></a>
            </div>
        </div>
        </div>
    </div>
</header>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>
