<% config.Title='Metal'; %>
<% include blocks/header.ejs %>
<style>
    header{background-image:url(/libs/assets/backgrounds/3.jpg)}

    .news-container .main-header-text-container {
        direction: ltr;
        text-align: left;
        font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
        color: #292F33;
        white-space: initial;
        padding: 10px;
        position: relative;
        border-bottom: 1px solid rgba(15,70,100,.12);
        margin-bottom: 2rem;
    }
    .news-container .main-header-text {
        direction: ltr;
        text-align: left;
        font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
        white-space: initial;
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        display: inline-block!important;
        max-width: 100%;
        font-weight: 300;
        color: #292F33;
        font-size: 21px;
        line-height: 36px;
    }
    .news-container .main-header-text span {
        direction: ltr;
        text-align: left;
        font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
        white-space: initial;
        list-style: none;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #657786;
    }
    .news-container .info-list-item * {
        transition: none;
    }
    .news-container .info-list-item {
        border-top: 1px solid #eee;
        padding: 2rem;
        list-style: none;
        color: #292F33;
        transition: none;
        cursor: pointer;
    }
    .news-container .info-list-item:hover {
        background-color: #f5f8fa;
    }
    .news-container .info-list-item .the-date{
        display: block;
        text-align: right;
        color: #798dad;
    }
    .news-container .info-list-item .the-icon{
        display: block;
        text-align: right;
        color: #e1e8ed;
        float: right;
        margin: 0 0 5px 5px;
    }
    .news-container .info-list-item:hover .the-icon{
        color: #55acee;
    }
    .news-container .news-page-header {
        margin-bottom: 2rem;
    }
    .body-dark .news-container .info-list-item {
        border-top: 1px solid #333;
        color: #fff;
    }
    .body-dark .news-container .info-list-item:hover {
        background-color: #333;
    }
    .body-dark .news-container .main-header-text {
        color: #fff;
    }
    .body-dark .news-container .main-header-text-container {
        border-bottom: 1px solid #333;
    }
</style>
<script>
var theMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"];
function drawNewsRow(options){
    var title = options.title.replace(/(<([^>]+)>)/ig,"").trim()
    var subtext = options.subtext.replace(/(<([^>]+)>)/ig,"").trim()
    var theDate = new Date(options.date)
    var endpointPrefix = options.endpoint || `https://hub.shinobi.video/articles/view/`
    return `<a target="_blank" href="${endpointPrefix}${options.id}">
        <li class="info-list-item">
            ${options.icon ? `<i class="the-icon fa fa-${options.icon}"></i>` : ''}
            <h4 id="${options.id}">${title}</h4>
            ${title !== subtext ? `<div>${subtext}</div>` : options.altSubtext ? options.altSubtext : ''}
            <span class="the-date">${formatDateString(theDate,true)}</span>
        </li>
    </a>`
}
function formatDateString(date,humanDate,timeOnly) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var strTime = hours + ':' + minutes;
    if(timeOnly){
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }
    if(humanDate){
        return `${theMonths[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}`
    }
    return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}T${hours}:${minutes}:00Z`
}
</script>
<section id="feed">
    <div class="container" style="padding-top:100px">
        <div class="row">
            <div class="col-md-4">
                <a class="twitter-timeline" style="width: 100%;" data-dnt="true" href="https://twitter.com/ShinobiCCTV?ref_src=twsrc%5Etfw">Tweets by ShinobiCCTV</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-4">
                <% include blocks/news-articles.ejs %>
            </div>
            <div class="col-md-4">
                <% include blocks/news-commits.ejs %>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark" id="why">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="text-primary">Get Started</h2>
            <div class="btn-group">
                <a href="#metal" class="btn btn-primary btn-xl page-scroll">Servers</a> &nbsp; <a href="/docs" class="btn btn-primary btn-xl">Documentation</a>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <h6 class="wide-space text-center text-uppercase">Shinobi is Free Software, If you like it please consider <a href="/docs/donate" title="Donation Link Here">donating</a>.</h6>
                </div>
            </div>
        </div>
    </div>
</aside>
<% include blocks/footer.ejs %>
