<% config.Title='Pending Tasks'; %>
<% include blocks/header.ejs %>
<style>
    .task-container {
        padding: 20px;
    }
    .task-container:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
    .task-container .desc:not(:empty) {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
    }
    .task-container .desc *:last-child {
        margin-bottom:0;
    }
</style>
<section id="learn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary" title="ZoneMinder vs Shinobi">Pending Tasks</h2>
                <p>Important changes will make their way to this list if not taken care of immediately.</p>
                <hr class="primary">
            </div>
        </div>
        <div id="task-table"></div>
    </div>
</section>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>
<script>
    $(document).ready(function(){
        var converter = new showdown.Converter();
        var taskTable = $('#task-table')
        var html = ''
        $.get('https://trello.com/1/boards/LD9Km5j8/cards',function(tasks){
            console.log(tasks)
            $.each(tasks,function(n,task){
                html += '<div class="task-container" task-id="'+task.id+'">'
                    html += '<div class="task-header">'
                        html += '<h3 class="name"><i class="fa fa-pencil-square-o"></i> &nbsp; ' + task.name + ' &nbsp; <small class="dateLastActivity pull-right">' + task.dateLastActivity + '</small></h3>'
                    html += '</div>'
                    html += '<div class="desc">' + converter.makeHtml(task.desc) + '</div>'
                    // html += '<div><a class="btn btn-sm btn-primary upvote"><i class="fa fa-thumbs-up"></i></a></div>'
                    // html += '<div><a class="btn btn-sm btn-primary downvote"><i class="fa fa-thumbs-down"></i></a></div>'
                html += '</div>'
            })
            taskTable.html(html)
        })
        // $('body')
        //     .on('click','[task-id] .upvote',function(){
        //         var el = $(this).parents('.task-container')
        //         var taskId = el.attr('task-id')
        //         $.get('/pendingtasks/' + taskId + '/upvote',function(data){
        //             console.log('upvote',taskId,data)
        //         })
        //     })
        //     .on('click','[task-id] .downvote',function(){
        //         var el = $(this).parents('.task-container')
        //         var taskId = el.attr('task-id')
        //         $.get('/pendingtasks/' + taskId + '/downvote',function(data){
        //             console.log('downvote',taskId,data)
        //         })
        //     })
    })
</script>
