<% config.Title='Why'; %>
<% include blocks/header.ejs %>
<style>
    .table ul li:not(:last-child){margin-bottom:10px}
    .table td{padding:10px}
    .table tr td:first-child{width:30%;font-weight:bold}
    code{color:#231f20}
    header{background-image:url(/libs/assets/backgrounds/1.jpg)}
</style>
<header id="first">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
                <blockquote>
                    <p>
                        I want to help people and one way I believed this could be done was to make a world class CCTV platform. One that anyone can use. Simply login to your account, add camera details, set options, and away you go. No client app installations. Viewing streams and recordings on your mobile device by simply opening a web page.
                    </p>
                    <p>
                        You should be able to view it on any device with a capable web browser. A base was needed to start with so I took to the internet for more answers.
                    </p>
                    <p>
                        After much searching one popular CCTV application born in 2003 was the primary choice but found it wasn't capable of fulfilling the role.
                    </p>
                    <small>Moe Alam</small>
                </blockquote>
            <hr>
            <div class="btn-group">
                <a href="#learn" class="btn btn-default btn-xl page-scroll">Why?</a>
            </div>
        </div>
        </div>
    </div>
</header>
<% include blocks/subheader.ejs %>
<section id="learn" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Performance Comparison</h2>
                <p>ZoneMinder is the most popular free open source CCTV platform</p>
                <hr class="primary">
            </div>
        </div>
        <div style="margin-top:20px;">
            <% include blocks/shinobiZoneminderCompareChart.ejs %>
        </div>
     </div>
  </section>
<section id="learn8">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Why the name?</h2>
                <br>
                <img style="max-width:100%;max-height:150px;display:inline-block" src="/libs/assets/ninja-samurai-heads.png">
            </div>
            <div class="col-lg-6 text-center">
                <p class="large">In Short : It is a representation of warring nations that have come together to find peace rather than conflict.</p>
                <div class="btn-group">
                    <a href="https://hub.shinobi.video/articles/view/MGGTLj1ZhGfQxvi" class="btn btn-primary btn-xl">More about this</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="learn6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">Why can't I get the same stream viewing performance as some others?</h2>
                <br>
                <img style="width:100%" src="/libs/assets/car.png">
            </div>
            <div class="col-lg-6 text-center">
                <p class="large">iSpyconnect, Blue Iris, FFplay, VLC and many others aren't hindered in the same way because they don't run in a browser, you must install them to use them. This means they can make better use of the CPU and GPU. In short : they have more freedom in how they can design their application.</p>
                <div class="btn-group">
                    <a href="#learn7" class="btn btn-primary btn-xl page-scroll">Why not do it their way?</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn7">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">Why not do it like the others?</h2>
                <br>
                <p class="large">By giving up this freedom for developers more freedom is given to the user. Shinobi's client viewer is supposed to run on as many devices as possible. Simply open a web browser and away you go. If you really wanted to you could view Shinobi streams on a Nintendo DS.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img style="width:100%" src="/libs/assets/hero.png">
            </div>
        </div>
    </div>
</section>
<section id="learn4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Why Discord for Chat?</h2>
                <br>
                <p class="large">Unlimited Chat History, Free Voice Chat, Free Screen Sharing, Unhindered Invitations, and so much more.</p><p class="large">No affiliation, we just love it.</p>
                <div class="btn-group">
                    <a href="http://discordapp.com/invite/mdhmvuH/" class="btn btn-primary btn-xl">Join us on Discord</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <iframe src="https://discordapp.com/widget?id=264819784292499457&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="margin-top-0 text-primary">Why FFMPEG?</h2>
                <br>
                <p class="large">After much research it was found FFMPEG was the leading tool in video processing. It can read almost any type of video stream. There was no need to reinvent the wheel and come up with something like "Shinobpeg" because FFMPEG does a fantastic job already.</p>
                <div class="btn-group">
                    <a href="/docs/start" class="btn btn-primary btn-xl">Install Shinobi</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/ffmpeg.png">
            </div>
        </div>
    </div>
</section>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>
