<% var Title='Get Started'; %>
<% include blocks/header.ejs %>
<body class="body-orange">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon fa fa-bolt"></i> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="download-section" class="doc-section">
                                <h2 class="section-title">Download</h2>
                                <div class="section-block">
                                    <blockquote><p>It is recommended to install a fresh Ubuntu 19.10 for the Operating System before beginning. If you have other applications installed on the server machine you will need to ensure there are no conflicts.</p><p>If you have questions please post on Reddit or Discord. Due to limited resources support time is limited. Ordering a support package will give you priority for support.</p><small>Moe Alam</small></blockquote>
                                    <a class="btn btn-primary" href="<%= config.downloadLink %>">Download</a>
                                </div>
                            </section><!--//doc-section-->
                            <section id="requirement-section" class="doc-section">
                                <h2 class="section-title">Requirements</h2>
                                <div class="section-block">
                                    <blockquote>
                                        <p>These requirements will be installed for you with <a href="#content-the-ninja-way"><b>The Ninja Way</b></a>. The Ninja Way is the recommended way to install. It will allow ease in updating as well as changes to the code.</p>
                                    </blockquote>
                                    <blockquote>
                                        <p><b>Node.js (12+), FFmpeg (3.3+), and MariaDB (10.4+)</b> are the main components that Shinobi needs. With the <a href="/docs/start#content-the-ninja-way">Ninja Way</a> it is expected that all these requirements will be fulfilled for you.</p>
                                        <p>To get the best experience and most support it is suggested that you install on a dedicated machine with <i>Ubuntu 19.10</i> then install Shinobi the <i>Ninja Way</i>.</p>
                                        <p><small><b>Friendly Warning : </b>Avoid Docker. If you can use a VM if you must use a shared environment.</small></p>
                                    </blockquote>
                                </div>
                            </section><!--//doc-section-->
                            <section id="installation-section" class="doc-section">
                               <% Object.keys(pageData).forEach(function(key){ %>
                                <h2 class="section-title"><a id="content-<%- link_id(key) %>" href="#content-<%- link_id(key) %>" class="text-faded"><i class="fa fa-paperclip"></i></a>  <%- key %></h2>
                               <% pageData[key].forEach(function(v,n){ %>
                                    <div class="section-block">
                                        <h3 class="block-title question"><a id="content-<%- link_id(v.description) %>" href="#content-<%- link_id(v.description) %>" class="text-faded"><i class="fa fa-paperclip"></i></a>  <%- v.description %></h3>
                                        <% v.blocks.forEach(function(b,m){ %>
                                            <% var drawListItems = function(b,m){ %>
                                                <li>
                                                    <% Object.keys(b).forEach(function(t,y){ %>
                                                        <% switch(t){
                                                        case 'blockquote': %>
                                                            <blockquote style="border-color:#d9534f"><%- b[t] %></blockquote>
                                                        <% break;
                                                        case 'text': %>
                                                            <div><p><%- b[t] %></p></div>
                                                        <% break;
                                                        case 'code': %>
                                                            <pre><code><%- b[t] %></code></pre>
                                                        <% break;
                                                        case 'list': %>
                                                            <ul>
                                                                <% b[t].forEach(drawListItems) %>
                                                            </ul>
                                                        <% break;
                                                        case 'orderList': %>
                                                            <ol>
                                                                <% b[t].forEach(drawListItems) %>
                                                            </ol>
                                                        <% break; %>
                                                        <% } %>
                                                    <% }) %>
                                                </li>
                                            <% } %>
                                            <% Object.keys(b).forEach(function(t,y){ %>
                                                <% switch(t){
                                                case 'ejs': %>
                                                    <%- include('blocks/install/'+b[t]+'.ejs')%>
                                                <% break;
                                                case 'blockquote': %>
                                                    <blockquote style="border-color:#d9534f"><%- b[t] %></blockquote>
                                                <% break;
                                                case 'text': %>
                                                    <div><p><%- b[t] %></p></div>
                                                <% break;
                                                case 'code': %>
                                                    <pre><code><%- b[t] %></code></pre>
                                                <% break;
                                                case 'list': %>
                                                    <ul>
                                                        <% b[t].forEach(drawListItems) %>
                                                    </ul>
                                                <% break;
                                                case 'orderList': %>
                                                    <ol>
                                                        <% b[t].forEach(drawListItems) %>
                                                    </ol>
                                                <% break; %>
                                                <% } %>
                                            <% }) %>
                                        <%  }) %>
                                    </div>
                                <%  }) %>
                                <%  }) %>
                            </section><!--//doc-section-->
                            <section>
                                <% include blocks/support.ejs %>
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar hidden-xs">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu" data-spy="affix">
                                <li><a class="scrollto" href="#download-section">Download</a></li>
                                <li><a class="scrollto" href="#requirement-section">Requirements</a></li>
<!--
                                <li>
                                    <a class="scrollto" href="#installation-section">Installation</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#content-the-ninja-way">The Ninja Way : Easiest</a></li>
                                        <li><a class="scrollto" href="#content-docker--kitematic">Docker : Kitematic</a></li>
                                        <li><a class="scrollto" href="#content-ubuntu--the-easier-way">Ubuntu : Easier Way</a></li>
                                        <li><a class="scrollto" href="#content-centos-fedora-rhel--the-easier-way">CentOS, Fedora, RHEL : Easier</a></li>
                                        <li><a class="scrollto" href="#setup_ubuntu_hard">Ubuntu 16.04 : The Harder Way</a></li>
                                        <li><a class="scrollto" href="#windows-hard">Windows : The Harder Way</a></li>
                                        <li><a class="scrollto" href="#setup_macos">Mac OS : Native</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="scrollto" href="#clean-section">Clean up</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#account-section">Account Management</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#update-section">Updating Shinobi</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#daemon-section">Daemonize and Startup</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#code-section">Configuration</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#config_login">Default Login</a></li>
                                        <li><a class="scrollto" href="#config_conf">conf.json</a></li>
                                    </ul>
                                </li>
                                <li><a class="scrollto" href="#trouble-section">Troubleshooting</a></li>
                                <li><a class="scrollto" href="#support">Support Packages</a></li>
-->
                                <% Object.keys(pageData).forEach(function(key){ %>
                                    <li><a class="scrollto" href="#content-<%- link_id(key) %>"><%- key %></a>
                                    <ul class="nav doc-sub-menu">
                                        <% pageData[key].forEach(function(v,n){ %>
                                        <li><a class="scrollto" href="#content-<%- link_id(v.description) %>"><%- v.description %></a></li>
                                        <%  }) %>
                                    </ul>
                                </li>
                                <%  }) %>
                                <% include blocks/menu-options.ejs %>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->

<% include blocks/footer.ejs %>

</body>
</html>
