<div class="section-block">
    <p><i>There were multiple ways to do this, now there is only one recommended way to do it. Please follow the link below.</i></p>
    <ul>
        <li>
            <a href="https://shinobi.video/articles/2018-05-15-how-to-update-shinobi-manually-from-terminal">How to Update Shinobi Manually from Terminal</a>
        </li>
    </ul>
</div>
