<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Shinobi Official Documentation<% if(Title){ %> - <%= Title %> <% } %></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shinobi is the Open Source CCTV software written in Node.JS. Designed with multiple account system, Streams by WebSocket, and Save to WebM and MP4. Shinobi can record IP Cameras and Local Cameras." />
    <meta name="keyword" content="websockets, webm, mp4, ip-camera, stream, local-cameras, shinobi, hls, camera-recorder, monitor, nodejs, cctv, cctv-cameras, nvr, docker, jpeg, mjpeg, base64, opencv">
    <meta name="author" content="Moe Alam - moeiscool">
    <meta name="coinzilla" content="coinzilla-verification" />
    <link rel="shortcut icon" href="/libs/assets/icon/favicon.ico">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/docs/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/docs/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/docs/assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="/docs/assets/plugins/elegant_font/css/style.css">
    <link rel="stylesheet" href="/libs/css/prices.css" />
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/docs/assets/css/docs.css">
    <link id="theme-style" rel="stylesheet" href="/docs/assets/css/styles.css">
    <link rel="stylesheet" href="/docs/assets/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/docs/assets/plugins/jquery-1.12.3.min.js"></script>
    <script data-ad-client="ca-pub-2646195941660619" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

    <% link_id=function(x){
        return x.toLowerCase().replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '').replace(/ /g,'-');
    } %>
